<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- sideBar -->
        <%- include('../modules/_sidebar'); %>
            <!-- / sideBar -->

            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                <%- include('../modules/_navbar'); %>
                    <!-- / Navbar -->

                    <!-- Content wrapper -->
                    <div class="content-wrapper">
                        <!-- Content -->

                        <div class="container-xxl flex-grow-1 container-p-y">
                            <div class="row">
                                <div class="col-lg-12 mb-4 order-0">
                                    <div class="row my-5">
                                        <!---->
                                        <h3 class="fs-4 mb-3" style="text-align: center;">Recent invoices</h3>
                                        <div class="container">
                                            <button type="button" class="btn btn-lg btn-outline-dark"
                                                data-toggle="modal" data-target="#addInvoice">New Invoice</button>
                                        </div>

                                        <div class="container"></div>
                                        <%- include('../modules/_alert'); %>
                                    </div>


                                    <div class="table-responsive">
                                        <table id="datatable" class="table table-bordered table-hover table-dark">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Invoice ID</th>
                                                    <th class="col-1">Customer ID</th>
                                                    <th class="col-2">date</th>
                                                    <th class="col-1">Total Amount</th>
                                                    <th>Invoice</th>
                                                    <th class="col-1">Invoice Discount</th>
                                                    <th class="col-1">Total Discount</th>
                                                    <th class="col-1">Total Tax</th>
                                                    <th>Invoice Details</th>
                                                    <th>Status</th>
                                                    <th class="text-center col-2 not-export-col">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if(locals.invcs){invcs.forEach((invcs)=> { %>
                                                    <tr>
                                                        <td>
                                                            <%= invcs.invoice_id; %>
                                                        </td>
                                                        <td>
                                                            <%= invcs.customer_id; %>
                                                        </td>
                                                        <td>
                                                            <%= invcs.date; %>
                                                        </td>
                                                        <td>
                                                            <%= invcs.total_amount; %>
                                                        </td>
                                                        <td>
                                                            <%= invcs.invoice; %>

                                                        </td>
                                                        <td>
                                                            <%= invcs.invoice_discount; %>
                                                        </td>
                                                        <td>
                                                            <%= invcs.total_discount; %>
                                                        </td>
                                                        <td>
                                                            <%= invcs.total_tax; %>
                                                        </td>
                                                        <td>
                                                            <%= invcs.invoice_details; %>
                                                        </td>
                                                        <td>
                                                            <%= invcs.status; %>
                                                        </td>
                                                        <td width="90px" class="table__actions text-center"
                                                            data-item-id="<%= invcs._id %>">
                                                            <!--<a href="#" class="btn-sm btn-primary invoiceEditButton" data-toggle="modal" data-item-id="<%= invcs._id %>" data-target="#addInvoice"><i class="fa fa-edit"></i>Edit</a>-->
                                                            <a class="btn-sm btn-danger" href="#" data-toggle="modal"
                                                                data-target="#deleteModal"><i
                                                                    class="fas fa-times"></i>Supp.</a>
                                                        </td>
                                                    </tr>
                                                    <% })} %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>