    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
          <!-- sideBar -->
          <%- include('../modules/_sidebar'); %>
          <!-- / sideBar -->
  
          <!-- Layout container -->
          <div class="layout-page">
            <!-- Navbar -->
            <%- include('../modules/_navbar'); %>
            <!-- / Navbar -->
  
            <!-- Content wrapper -->
            <div class="content-wrapper">
              <!-- Content -->
  
              <div class="container-xxl flex-grow-1 container-p-y">
                <div class="row">
                  <div class="col-lg-12 mb-4 order-0">
                    <div class="row my-5">
                        <!---->
                <h3 class="fs-4 mb-3" style="text-align: center;">Product Returns</h3>
                <!--
<div class="container">
    <button type="button" class="btn btn-lg btn-outline-dark" data-toggle="modal" data-target="#addProductsReturn">New Product Returns</button>
</div>-->

<div class="container"></div>
<%- include('../modules/_alert'); %>
    </div>


        <div class="table-responsive">
            <table id="datatable" class="table table-bordered table-hover table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th>Return Id</th>
                        <th>Product ID</th>
                        <th>Invoice ID</th>
                        <th>Date Sale</th>
                        <th>Date Return</th>
                        <th>Customer Id</th>
                        <th>Reason</th>
                        <th class="text-center not-export-col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(locals.prs){prs.forEach((prs) => { %>
                    <tr>
                        <td>
                            <%= prs.return_id; %>
                        </td>
                        <td>
                            <%= prs.product_id; %>
                        </td>
                        <td>
                            <%= prs.invoice_id; %>
                        </td>
                        <td>
                            <%= prs.date_sale; %>

                        </td>
                        <td>
                            <%= prs.date_return; %>
                        </td>

                        <td>
                            <%= prs.customer_id; %>
                        </td>

                        <td>
                            <%= prs.reason; %>
                        </td>

                        <td width="90px" class="table__actions text-center" data-item-id="<%= prs._id %>">
                            <a href="#" class="btn-sm btn-primary productsReturnEditButton" data-toggle="modal" data-item-id="<%= prs._id %>" data-target="#addProductsReturn"><i class="fa fa-edit"></i>Edit</a>
                            <a class="btn-sm btn-danger" href="#" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-times"></i>Supp.</a>
                        </td>
                    </tr>
          <% })} %>
                </tbody>
            </table>
        </div>
    </div>
</div><!---->
</div>
<!-- / Content -->
